@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Italianno&family=Red+Rose&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Red+Rose&display=swap");
.App {
  text-align: center;
}

.App h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 45px;
  letter-spacing: 1px;
}

.App p {
  margin-top: -10px;
  font-size: 45px;
  font-weight: 600;
}

.name_tag {
  font-family: "Italianno", cursive;
  font-size: 65px;
  letter-spacing: 2px;
  color: gold;
  padding: 3px 15px;
  border-radius: 15px;
}

.img {
  margin-top: 10px;
}

.app_form {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 95%;
  margin: 20px;
  border-radius: 10px;
}
.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app_input {
  flex: 1;
}

.app_iconButton {
  flex: 0;
}

@media only screen and (max-width: 600px) {
  .app_form {
    margin: 5px;
    padding: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .app_form {
    margin-left: 10px;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .App p,
  .App h1 {
    margin: 2px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .img {
    margin: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .name_tag {
    font-size: 40px;
  }
}
